<!-- (1/4) -->
<div class="form-wrapper col-md-5 col-md-offset-3" *ngIf="!!task.status && task.status.id==1">
  <h4>Please input the configuration for 'Count from X to Y' task.</h4>
  <form name="form" (ngSubmit)="f.form.valid && setFromToValues()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !xValue.valid }">
      <label for="xValue" class="text-secondary" style="font-weight: 400;">Counting from number:</label>
      <input type="text" (keyup)="isXValid=!fromValidation()"  pattern="^[0-9]+$" class="form-control" name="xValue" [(ngModel)]="model.xValue" #xValue="ngModel"
             required/>
      <div *ngIf="f.submitted && !xValue.valid" class="help-block">From value is required</div>
      <div #isXValid *ngIf="isXValid" class="help-block">Only number accepted</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !toValue.valid }">
      <label for="toValue" class="text-secondary" style="font-weight: 400;">Counting from number:</label>
      <input type="text" (keyup)="isYValid=!toValidation()" pattern="^[0-9]+$" class="form-control" name="toValue" [(ngModel)]="model.yValue" #toValue="ngModel"
             required/>
      <div *ngIf="f.submitted && !toValue.valid" class="help-block">To value is required</div>
      <div #isYValid *ngIf="isYValid" class="help-block">Only number accepted</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-info">next</button>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>

<div *ngIf="!!task.status && task.status.id==2">
  <h2>Do you want to execute the task now?</h2>
  <div>
    <a class="btn btn-info" href="javascript:void(0)" (click)="setExecutingStatus()" >Yes</a>
  </div>
</div>

<div *ngIf="!!task.status && task.status.id==3">
  <h2>Executing now...</h2>
  <h2>We are currently at number {{task.currentValue+"/"+task.yValue}}</h2>
  <img alt="loading" src="assets/loading_spin.gif">
  <div>
    <a class="btn btn-info" href="javascript:void(0)" (click)="cancelExecution()">Cancel execution</a>
  </div>
</div>

<div *ngIf="!!task.status && task.status.id==4">
  <h2>Task finished execution successfully.</h2>
  <h2>Counted from {{task.xValue+" to "+task.yValue}}.</h2>
</div>






