td.clickable {
  cursor: pointer;
}
.btn-circle {
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  border-radius: 100%;
  z-index: 1000;
  font-size: 24px;
  padding: 0;
  margin-top: -60px;
  border: 1px solid #efefef;
  color: #908e8e;
  font-weight: 200;
}
