<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Celonis Challenge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/user">List Tasks</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="float: right">
      <button class="btn btn-primary-success my-2 my-sm-0 text-white" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>



<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/user">User</a></li>
      &lt;!&ndash;li routerLinkActive="active"><a routerLink="/admin">Admin</a></li&ndash;&gt;
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text" *ngIf="isAdminUser()">You are admin!</p>
        <p class="navbar-text" *ngIf="isUser()">You are user!</p>
      </li>
      <li><button class="btn navbar-btn" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</nav>-->

<div class="container">
  <router-outlet></router-outlet>
</div>
